<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.team5_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.example.team5_final.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.test_db.qrcode.MainActivityQR"/>
        <activity android:name="com.example.test_db.qrcode.CreateQR"/>
        <activity android:name="com.example.test_db.qrcode.ScanQR"/>
        <activity android:name=".fragment.AfterLoginActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".TestActivity"/>
        <activity android:name=".UserScanActivity"/>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".AfterApplyActivity"/>
        <activity android:name=".ApplyInfoActivity"/>
        <activity android:name=".EncryptInvoiceActivity"/>
        <activity android:name=".NormalInvoiceActivity"/>
        <activity android:name=".InvoiceScanActivity"/>
        <activity android:name=".PostManActivity"/>
        <activity android:name=".ReviewActivity"/>
        <activity android:name=".RefundActivity"/>
    </application>

</manifest>